<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thanks for Submitting!</title>
  </head>
  <body>
    <h1>Thanks for Submitting!</h1>
    <p>Your rating has been recorded. Thank you for contributing to our due diligence efforts.</p>
  </body>
</html>
